# OpenRouter API Key for AI-powered Questionnaire generation & Code Scanning
OPENROUTER_API_KEY="Your openrouter api key"
OPENROUTER_MODEL=openai/gpt-4o-mini

# MongoDB Connection String (Optional - defaults to offline JSON store if MongoDB is offline)
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=securecheck_db
ENVIRONMENT=development
